<div class="container">
    <h1 class="text-center">Eliminar producto</h1>
    <form id="deleteProductForm">
        <div class="form-group">
            <label for="pid">ID del Producto:</label>
            <input type="text" class="form-control" id="pid" name="pid" required>
        </div>
        <button type="submit" class="btn btn-danger mt-3">Eliminar producto</button>
    </form>
</div>

<script src="/js/deleteProduct.js"></script>