<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h2>¡Bienvenido a nuestro E-Commerce!</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Tu tienda de tecnología de confianza</h5>
            <p class="card-text">
                Gracias por unirte a nuestra comunidad. En este <strong>E-Commerce</strong>, nos apasiona ofrecerte los
                mejores
                productos tecnológicos del mercado.
                Explora nuestra amplia gama de productos, desde los últimos smartphones hasta los gadgets más
                innovadores.
            </p>
            <p class="card-text">
                No olvides suscribirte a nuestro boletín para recibir las últimas noticias y ofertas exclusivas.
            </p>
            <p class="styled-box">
                Puedes recorrer nuestras secciones con la barra de navegación en la parte superior de la página!
            </p>
        </div>
    </div>
</div>