<h2>Restablecer Contraseña</h2>
<form action="/api/users/reset-password/{{token}}" method="post">
    <div>
        <label for="password">Ingrese su nueva contraseña:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Restablecer Contraseña</button>
</form>
{{#if error}}
<p style="color: red;">{{error}}</p>
{{/if}}
{{#if message}}
<p style="color: green;">{{message}}</p>
{{/if}}